
#foraText, #kiboze {
	max-height: 20em;
	overflow: scroll;
}
#foraText p, #kiboze p {
	margin: 0em 0em 0em 4em;
	text-indent: -4em;
}
#kiboze {
	max-height: 7em;
	background-color: #eee;
}
.timestamp {
	color: silver;
}
.forum {
	color: darkblue;
	display: none;
}
.sender {
	color: green;
}
.sender:before {
	content: "<";
}
.sender:after {
	content: ">";
}
.sender.notice {
	color: olive;
}
.sender.notice:before {
	content: "-";
}
.sender.notice:after {
	content: "-";
}
.raw {
	color: purple;
}

.active {
	background-color: yellow;
}
.current {
	background-color: cornsilk;
}

input[name~=target] {
	width: 7em;
}
input[name~=text] {
	width: 75%;
}
body {
	height: 100%;
}